body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.weather-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.weather-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.weather-card p {
    font-size: 16px;
    margin-bottom: 8px;
}

.forecast-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.forecast-item {
    flex-basis: calc(20% - 10px);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .forecast-item {
        flex-basis: calc(33.33% - 10px);
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

#current-weather,
#forecast,
#search-history {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-history {
    width: 100%;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
button {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
}
